div.MatchPage-full {
    background-color: #53a7f0;
}

h1.h1-title {
    text-align: center;
    padding: 1rem;
}

h2.h2-title {
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-bottom: yellow 20px solid;
}


.MatchCards{
    display: flex;
    flex-flow: column;
    align-items: stretch ;
    justify-content: center;
    width:80%;

}
.MatchCards h3{
    width:100%;
    height:100%; 
    display: flex; 
    align-items: center;
    justify-content: center;
}
#vs{display: flex;
    align-items: center;}

.cardBody{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap !important;
}

.Team{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 40%;
}

.teamHead{
    display: flex;
    margin:20px;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
.MMR >*{
    margin:20px;
    text-align: center;}

.slick-next:before, .slick-prev:before{
    color:#FFFF;
    font-size: 50px;
}

.slick-next, .slick-prev {
    width: 120px;

}

.slick-prev, .slick-prev:before {
z-index: 5;
}